{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section class="jumbotron" id="content">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
      title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
      {% include 'twitter.html' %}
    </header>
    {% include 'article_infos.html' %}
  {{ article.content }}
    <p>
      In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      <span class="pull-right">{% include 'taglist.html' %}</span>
    </p>
</section><!-- End section content -->
{% endblock %}

{% block images %}
{% if article.photo_gallery %}
<!-- start section Gallery -->
  {% for title, gallery in article.photo_gallery %}
  <section class="jumbotron" id="photos">
    <h2 class="entry-title">
      <a href="#my-carousel">{{ title }}</a></h2>
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for item in range(gallery|length) %}
          {% if loop.first %}
          <li data-target="#my-carousel" data-slide-to="{{ item }}" class="active"></li>
          {% endif %}
          <li data-target="#my-carousel" data-slide-to="{{ item }}"></li>
        {% endfor %}
      </ol><!-- end indicators -->
      <div class="carousel-inner" role="listbox">
        {% for name, photo, thumb, exif, caption in gallery %}
          {% if loop.first %}
          <div class="active item">
            <img src="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"></a>
          </div>
          {% endif %}
          <div class="item">
            <img src="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}">
          </div>
        {% endfor %}
        <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- end carousel-inner list -->
    </div>
  </section>
  {% endfor %}
  {% endif %}
{% endblock %}
<!-- end section Gallery -->

<section class="jumbotron" id="comments">
{% block comments %}
{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    var disqus_identifier = '{{ article.url }}';
    var disqus_url = '{{ SITEURL }}/{{ article.url }}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
{% endblock %}
</section><!-- end section comments -->
