{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section class="jumbotron" id="content">
  <div class="entry-content">
    {% include 'article_infos.html' %}
    {% if article.photo_gallery %}
      {% set contents = article.content.split('{photo}/') %}
      {{ contents[0] }}
      {% for content in contents[1:] %}
        {% set contentSlice = content.split('\n', 1) %}
        {% for title, gallery in article.photo_gallery %}
          {% if title|string() in contentSlice[0]|string() %}
            {% set galleryTitle = title %}
            {% set galleryPhotos = gallery %}
            {% include 'gallery-magnifique-popup.html' %}
            {{ contentSlice[1] }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
      {{ article.content }}
    {% endif %}
  </div><!-- /.entry-content -->
  <p>
    In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    <span class="pull-right">{% include 'taglist.html' %}</span>
  </p>
</section><!-- End section content -->
{% endblock %}

{% block comments %}
<section class="jumbotron" id="comments">
{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    var disqus_identifier = '{{ article.url }}';
    var disqus_url = '{{ SITEURL }}/{{ article.url }}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
</section><!-- end section comments -->
{% endblock %}
